# URL de l'API NestJS
# Pour tester sur mobile physique, remplacez par votre URL Cloudflare ou l'IP locale (ex: http://192.168.x.x:3001)
EXPO_PUBLIC_API_URL=http://localhost:3001

# Keycloak Configuration (mobile)
# Pour tester sur mobile physique, remplacez par votre URL Cloudflare Keycloak
EXPO_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8080/realms/cook-me
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=cook-me-mobile
